body  {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;

  background-color: #859f91;
  background-image: url("./../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: underline;
}
input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip-path: inset(100%);
  white-space: nowrap;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.main-nav-item {
  margin-right: 28px;
}
.main-nav-item:active .main-nav-link {
  color: #323232;
  text-decoration: none;
  background-color: #ffffff;
  text-decoration: none;
}

.main-nav-item:hover .main-nav-link {
  color: #333333;
  background-color: #f7f6f3;
  text-decoration: none;
}

.main-nav-item-active .main-nav-link {
  color: #ffffff;
  text-decoration: none;
  background-color: #d07058;
  text-decoration: none;
}

.main-nav-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.main-nav-menu,
.main-nav-sub,
.main-nav-user,
.hit-selling,
.main-catalog-list,
.catalog-nav-list {
  padding-left: 0;
  list-style: none;
}
.user-item {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 32px;
  margin-left: 10px;
}
.user-item-bag {
  padding-left: 45px;
  width: 72px;
  background-image: url("../img/bag.svg");
  background-repeat: no-repeat;
  background-position: 16px 6px;
}
.user-item-enter {
  padding-left: 45px;
  width: 47px;
  background-image: url("../img/enter.svg");
  background-repeat: no-repeat;
  background-position: 16px 6px;
}
.user-item-find {
  width: 32px;
  background-image: url("../img/lupa.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.user-item-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  vertical-align: middle;
  font-weight: 500;
  color: #ffffff;
}
.user-item:hover,
.user-item-link:hover {
  color: #323232;
  background-color: #f8f7f4;
}
.main-nav-sub-item:first-child a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #323232;
}
.main-nav-sub-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}
.main-nav-sub-item:hover .main-nav-sub-link {
  background-color: #d07058;
  text-decoration: none;
}
.main-nav-sub-item:active .main-nav-sub-link {
  background-color: #f6b5a5;
  text-decoration: none;
}

.user-item-enter-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}
.user-item-enter-link {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}
.hours {
  text-align: right;
  position: absolute;
  right: 27px;
  top: 72px;
  outline: 3px solid pink;
  background-color: rgba(255,105,180, 0.2);
}
.hours-text {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;

}
.hours-link {
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

}
.button {
  background-color: #ec583c;
}
.button:hover {
  background-color: #ef7862;
}
.button:active {
  background-color: #de593b;
}
.slide-title {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.slide-button {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.sale-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.sale-text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.sale-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.hit-selling-item:hover,
.main-catalog-item:hover {
  background-color: rgba(155, 175, 163, 0.2);
}
.hit-selling-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.hit-selling-weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.hit-selling-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}
.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  text-align: left;
}
.features-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  text-align: left;
}
.blog-news-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
  text-align: left;
}
.blog-news-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-align: left;
}
.subscribe-form-text {
  font-family: "Myriad Pro". sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
  text-align: left;
}
.subscribe-form-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.location-info {

  max-width: 302px;
  max-height: 305px;
  background-color: white;
}
.location-info-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  text-align: left;
}
.location-info-adress {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  text-align: left;
}
.location-info-info, {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  text-align: left;
}
.location-info-phone {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
  text-align: left;
  text-decoration: none;
}
.location-info-hours {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  text-align: left;
}
.location-info-link {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  text-decoration: none;
}
.nav-list,
.main-footer-social {
  list-style: none;
}
.nav-item-link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

}
.nav-item:first-child a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}
.copyright-text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}
.copyright-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}
.feedback-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}
.feedback-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}

.sale-item_bg-raspberry {
  background-color: #bc2a58;
  background-image: url("../img/raspberry_bg.jpg");
  background-repeat: no-repeat;
}
.sale-item_bg-chocolate {
  background-color: #2c1308;
  background-image: url("../img/chocolate_bg.jpg");
  background-repeat: no-repeat;
}
.features {
  background-color: #e9deca;
  background-image: url("../img/waffle_bg.jpg");
}
.blog-news {
  background-color: #ffffff;
  background-image: url("../img/strawberry_bg.png");
}
.subscribe-form {
  background-color: #f8f7f4;
}
.location {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}
.feedback {
  background-color: #f8f7f4;
}
.user-item-find-form {
  background-color: #f8f7f4;
}
.user-item-enter-form {
  background-color: #f8f7f4;
}

/* catalog.html */
.main-catalog
.user-bag {
  background-color: #f8f7f4;
}
.user-bag-cell {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}
.user-bag-price {
  color: #999999;
}
.user-bag-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
}
.user-bag-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  background-color: orange;
  text-decoration: none;
}
.breadcrumbs {
  list-style: none;
}
.breadcrumbs-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}
.catalog-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}
.filter-legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}
.filter-label,
.filter-radio,
.filter-option,
.filter-button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}
.filter-button:hover {
  color: #323232;
  background-color: #fbfcfb;
}
.filter-button:active {
  background-color: #eaeaea;
}
/* хрен знает как стилизовать select и option у селекта
.filter-option {
  color: black;
  background-color: rgb(157, 177, 165, 0.2);
  */
}
.catalog-nav-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}
.catalog-nav-item-active,
.catalog-nav-item:active {
  background-color: #ffffff;
}

.catalog-nav-item:hover {
  background-color: rgba(157,177,165, 0.2);
}

.catalog-nav-item-active .catalog-nav-link,
.catalog-nav-item:active .catalog-nav-link {
  color: #000000;
}

/* Флексбоксы */
html,
body {
  margin: 0 auto;
  min-height: 1750px;
}
body {
  /*временно для сетки*/
  background-image: url("../img/gllacy-index-1200.jpg");
  background-repeat: no-repeat;
}

.main-header {
  padding: 0 27px;
  position: relative;
  display: flex;
  outline: 3px solid green;
  background-color: rgba(50,205,50, 0.2);
}

.main-content {
  outline: 3px solid green;
  background-color: rgba(50,205,50, 0.2);
}

.main-header-logo {
  margin-top: 9px;
  margin-right: 24px;
  outline: 3px solid pink;
  background-color: rgba(255,105,180, 0.2);
}

.main-header-main-nav {
  outline: 3px solid pink;
  background-color: rgba(255,105,180, 0.2);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.main-nav-menu {
  display: flex;
}
.main-nav-user {
  display: flex;
}
.main-nav-sub {
  display: none;
}
.user-item-find-form {
  display: none;
}
.user-item-enter-form {
  display: none;
}

.slide {
  background-image: url("../img/icecream_one.png");
  background-repeat: no-repeat;
  min-height: 575px;
  outline: 3px solid pink;
  background-color: rgba(255,105,180, 0.2);
}
.sale {
  outline: 3px solid pink;
  background-color: rgba(255,105,180, 0.2);
}
.sale-wrapper {
  display: flex;
  justify-content: space-between;
}
.sale-item {
  max-width: 560px;
  display: flex;
  flex-direction: column;
}
.sale-button {
  margin-left: auto;
}
.hit {
  outline: 3px solid pink;
  background-color: rgba(255,105,180, 0.2);
}
.hit-selling {
  display: flex;
  justify-content: space-between;
}
.hit-selling-item {
  max-width: 267px;
}
.features {
  outline: 3px solid pink;
  background-color: rgba(255,105,180, 0.2);
}
.features-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.features-text {
  max-width: 539px;
}
.info {
  display: flex;
  justify-content: space-between;

  outline: 3px solid pink;
  background-color: rgba(255,105,180, 0.2);
}
.blog-news,
.subscribe-form {
  max-width: 560px;
}
.location {
  outline: 3px solid pink;
  background-color: rgba(255,105,180, 0.2);
}
.main-footer {
  outline:  3px solid green;
  background-color: rgba(50,205,50, 0.2);
  display: flex;
  justify-content: space-between;
}
.main-footer-social {
  outline: 3px solid pink;
  background-color: rgba(255,105,180, 0.2);
  display: flex;
}
.main-footer-nav {
  outline: 3px solid pink;
  background-color: rgba(255,105,180, 0.2);
  max-width: 345px;
}
.nav-list {
  outline: 3px solid pink;
  background-color: rgba(255,105,180, 0.2);
  display: flex;
  flex-wrap: wrap;
}
.main-footer-copyright {
  outline: 3px solid pink;
  background-color: rgba(255,105,180, 0.2);
}


/* флексбоксы для catalog.html */
.user-bag {
  display: none;
}
.breadcrumbs {
  max-width: 865px;
  outline: 3px solid pink;
  background-color: rgba(255,105,180, 0.2);
  display: flex;
}
.filter {
  outline: 3px solid pink;
  background-color: rgba(255,105,180, 0.2);
  max-width: 865px;
  display: flex;
  flex-wrap: wrap;
}
.main-catalog {
  outline: 3px solid pink;
  background-color: rgba(255,105,180, 0.2);
  max-width: 1146px;

}
.main-catalog-list {
  display: flex;
  flex-wrap: wrap;
}
.main-catalog-item {
  max-width: 267px;
}
.button-hidden {
  display: none;
}
.main-catalog-nav {
  outline: 3px solid pink;
  background-color: rgba(255,105,180, 0.2);
  display: flex;
}
.catalog-nav-list {
  display: flex;
}
