body  {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;

  background-color: #859f91;
  background-image: url("./../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: underline;
}

.main-nav-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}
.main-nav-menu,
.main-nav-sub,
.main-nav-user {
  list-style: none;
}
.user-item-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}
.main-nav-sub-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}
.main-nav-sub-link:first-child {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #323232;
}
.hours-text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}
.hours-link {
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}
.slide-title {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  color: #ffffff;
}
.slide-button {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
}
