body  {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;

  background-color: #859f91;
  background-image: url("./../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}
input {
  box-sizing: border-box;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 4px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}
input:hover {
  border: 2px solid #c7c6c5;
  padding: 9px;
}
input:focus {
  border: 2px solid #8fbdec;
  border-radius: 4px;
  padding: 9px;
  outline: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.site-wrapper-slider {
  background-color: #849d8f;
  background-image: url("../img/icecream_one.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper-slider::before {
  content: "";
  visibility: hidden;
  background-image: url("../img/icecream_two.png");
}

.site-wrapper-slider::after {
  content: "";
  visibility: hidden;
  background-image: url("../img/icecream_three.png");
}

/*.site-wrapper::before {
  background-image: url("../img/icecream_two.png");
}

.site-wrapper::after {
  background-image: url("../img/icecream_three.png");
}*/
.site-wrapper {
  min-width: 940px;
}
a {
  text-decoration: underline;
}
input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip-path: inset(100%);
  white-space: nowrap;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.main-nav-item {
  margin-right: 2px;
}


.main-nav-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  padding-left: 13px;
  padding-right: 13px;
}
.main-nav-link:hover {
  text-align: center;
color: #333333;
vertical-align: top;
text-decoration: none;
background-color: #f7f6f3;
border-radius: 50px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 13px;
padding-right: 13px;
display: inline-block;
}
.main-nav-menu,
.main-nav-sub,
.main-nav-user,
.hit-selling,
.main-catalog-list,
.catalog-nav-list {
  padding-left: 0;
  list-style: none;
}
.user-item {
  position: relative;
  margin-left: 10px;
}
.user-link-bag {
  padding-left: 45px;
  width: 72px;
  background-image: url("../img/bag.svg");
  background-repeat: no-repeat;
  background-position: 16px 6px;
}
.user-link-bag:hover {
  padding-left: 45px;
  width: 72px;
  background-image: url("../img/bag-red.svg");
  background-repeat: no-repeat;
  background-position: 16px 6px;
}
.user-link-enter {
  padding-left: 45px;
  width: 47px;
  background-image: url("../img/enter.svg");
  background-repeat: no-repeat;
  background-position: 16px 6px;
}
.user-item:hover .user-link-enter {
  padding-left: 45px;
  width: 47px;
  background-image: url("../img/enter-black.svg");
  background-repeat: no-repeat;
  background-position: 16px 6px;
}
.user-link-find {
  width: 32px;
  height: 32px;
  background-image: url("../img/lupa.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.user-item-find:hover .user-item-link {
  width: 32px;
  height: 32px;
  background-image: url("../img/lupa-black.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-item-link {
  display: inline-block;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  vertical-align: middle;
  font-weight: 500;
  color: #ffffff;
}

.user-item:hover .user-item-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  vertical-align: middle;
  font-weight: 500;
  color: black;
  background-color: #f7f6f3;
}

.main-nav-sub-item:first-child a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #323232;
}
.main-nav-sub-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}
.main-nav-sub-item:hover .main-nav-sub-link {
  background-color: #d07058;
  text-decoration: none;
}
.main-nav-sub-item:active .main-nav-sub-link {
  background-color: #f6b5a5;
  text-decoration: none;
}


.user-item-enter-link {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}
.user-item-enter-link:hover {
  color: #ffbc9e;
}
.user-item-enter-link:active {
  color: #ffbc9e;
}
.hours {
  text-align: right;
  position: absolute;
  right: 27px;
  top: 72px;

}
.hours-text {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;

}
.hours-link {
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

}
.filter-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  vertical-align: middle;
}
.filter-label {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 21px
}

.filter-label-checkbox {
  margin-right: 18px;
}

.filter-radio-label {
  margin-right: 18px;
}

.filter-label:last-child {
  margin-right: 0;
}
.filter-checkbox,
.filter-radio {
  opacity: 0;
  position: absolute;
}
.filter-checkbox-on {
  display: none;
  z-index: 1;
  margin-right: 6px;
  height: 20px;

}
.filter-radio-on {
  display: none;
  z-index: 1;
  margin-right: 9px;
}
.filter-checkbox-on path,
.filter-checkbox-on polygon,
.filter-radio-on path,
.filter-radio-on circle {
  fill: rgba(255,255,255, 0.8);
}
.filter-checkbox-on:hover path,
.filter-checkbox-on:hover polygon,
.filter-radio-on:hover path,
.filter-radio-on:hover circle {
  fill: rgba(255,255,255, 1);
}
.filter-checkbox:disabled ~ .filter-checkbox-svg path,
.filter-checkbox:disabled ~ .filter-checkbox-svg polygon {
  fill: rgba(255,255,255, 0.4);
}
.filter-radio:disabled ~ .filter-radio-svg path,
.filter-radio:disabled ~ .filter-radio-svg circle {
  fill: rgba(255,255,255, 0.4);
}


.filter-checkbox-off path,
.filter-radio-off path {
  fill: rgba(255,255,255, 0.8);
}
.filter-checkbox-off:hover path,
.filter-radio-off:hover path {
  fill: rgba(255,255,255, 1);
}
.filter-checkbox-off{
  z-index: 1;
  margin-right: 7px;
  height: 20px;
  padding-right: 3px;
}
.filter-radio-off {
  z-index: 1;
  margin-right: 10px;
}
.filter-checkbox:checked ~ .filter-checkbox-on,
.filter-radio:checked ~ .filter-radio-on {
  display: inline-block;

}
.filter-checkbox:checked ~ .filter-checkbox-off,
.filter-radio:checked ~ .filter-radio-off {
  display: none;
}
.filter-wrapper {
  display: flex;
  background-color: rgba(255,255,255, 0.2);
  padding: 8px 16px;
  border-radius: 18px;
  padding: 7px 18px 7px 14px;
}

.filter-wrapper-select {
  padding: 9px 13px 10px 15px;
}

.filter-wrapper-range {
  padding: 9px 21px 8px 22px;
}

.filter-wrapper-radio {
  padding: 8px 15px 7px 13px;
}

.filter-wrapper-checkbox {
  padding: 9px 19px 7px 14px;
}

.filter-range-controls {
  position: relative;
  width: 176px;
  height: 20px;
  display: flex;
  align-items: center;
}
.filter-scale {
  width: 100%;
  height: 4px;
  background: rgba(248, 247, 244, 0.5);
}
.filter-bar {
  margin-left: 24px;
  margin-right: 52px;
  height: 4px;
  background: #f8f7f4;
}
.filter-range-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
.filter-range-toggle:hover {
  border: 9px solid #ffffff;
  border-radius: 50%;
}
.filter-range-toggle-min {
  left: 13px;
}
.filter-range-toggle-max {
  right: 45px;
}
.filter-button {
  align-items: center;
  padding: 7px 27px 7px 28px;
  color: #ffffff;
  background-color: rgba(255, 252, 252, 0.2);
  border: 2px solid #ffffff;
  border-radius: 18px;
  margin-bottom: 14px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}
.filter-button:hover {
  padding: 9px 29px 9px 30px;
  align-items: center;
  border: none;
  color: #323232;
  background-color: #fbfcfb;
}
.filter-button:active {
  padding: 9px 29px 9px 30px;
  align-items: center;
  border: none;
  color: #323232;
  background-color: #eaeaea;
  box-shadow: inset 0 2px 1px 0 #696969;
}
.filter-select {
  position: relative;
  font-family: "Roboto",sans-serif;
  width: 165px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: #ffffff;
  background-image: url("../img/icon-down.svg");
  background-repeat: no-repeat;
  background-position: right 1px top 4px;
  -webkit-appearance: none;
}

.filter-select::before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 3px;
  border-top: 5px solid #ffffff;
  border-left: none;
  border-right: none;
}

.filter-select:hover {
  color: #000000;
  background-image: url("../img/icon-up.svg");
}
.button {
  background-color: #ec583c;
}
.button:hover {
  background-color: #ef7862;
}
.button:active {
  background-color: #de593b;
}
.slide {
  display: none;
}
.filter-fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 16px;
  margin-bottom: 15px;
}

.filter-fieldset {
  margin-right: 15px;
}

.filter-fieldset-range {
  margin-right: 16px;
}

.filter-fieldset-checkbox {
  margin-right: 14px;
}
.slider {
  position: relative;
  padding-top: 314px;
  text-align: center;
}
.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.slider-title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 31px;
}

#product-1:checked ~ .site-wrapper-slider {
  background-color: #849d8f;
  background-image: url("../img/icecream_one.png");
}

#product-2:checked ~ .site-wrapper-slider {
  background-color: #8996a6;
  background-image: url("../img/icecream_two.png");
}

#product-3:checked ~ .site-wrapper-slider {
  background-color: #9d8b84;
  background-image: url("../img/icecream_three.png");
}

#product-1:checked ~ .site-wrapper-slider #slide1,
#product-2:checked ~ .site-wrapper-slider #slide2,
#product-3:checked ~ .site-wrapper-slider #slide3 {
  display: block;
}
#product-1:checked ~ .site-wrapper-slider label[for="product-1"],
#product-2:checked ~ .site-wrapper-slider label[for="product-2"],
#product-3:checked ~ .site-wrapper-slider label[for="product-3"] {
  background-color: #ffffff;
}
.sale-item_bg-raspberry {
  background-color: #bc2a58;
  background-image: url("../img/raspberry_bg.jpg");
  background-repeat: no-repeat;
  background-position: -50px -94px;
}
.sale-item_bg-chocolate {
  background-color: #2c1308;
  background-image: url("../img/chocolate_bg.jpg");
  background-repeat: no-repeat;
  background-position: -218px -104px;
}
.sale-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  margin: 0 0 15px;
}
.sale-text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  margin: 0px;
}
.sale-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 9px 16px 12px 21px;
  margin-top: auto;
  color: #ffffff;
  text-align: center;

  margin-left: auto;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;

}
.sale-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.sale-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.hit-selling-price {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  margin: 0px;
  top: 209px;
  left: -1px;
}
.hit-selling-rubl {
  display: inline-block;
  background-image: url("../img/rubl.svg");
  background-repeat: no-repeat;
  margin-left: 4px;
  width: 30px;
  margin-right: 2px;
  height: 32px;
}
.hit-selling-weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.hit-selling-link {
  font-size: 16px;
  max-width: 256px;
  display: inline-block;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}
.hit-selling-link:hover {
  color: #ffbc9e;
}
.hit-selling-link:active {
  color: #ffbc9e;
}
.hit-selling-image {
  margin-bottom: 8px;
}

.blog-news {
  padding-top: 22px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 258px;
  width: 282px;
  height: 172px;
  border-radius: 14px;
  background-color: #ffffff;
  background-image: url("../img/strawberry_bg.png");
}
.blog-news-title {
  margin: 0px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
  text-align: left;
  margin-bottom: 4px;
}
.blog-news-link {
  width: 286px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-align: left;
}
.subscribe-form {
  border: 6px solid grey;
  border-radius: 12px;
  border-image-source: url(../img/mail-border-bg.svg);
  border-image-slice: 6;
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 22px;
  padding-bottom: 30px;
  width: 506px;
  height: 150px;
  background-color: #f8f7f4;
}

.subscribe-form-input {
  flex-grow: 1;
  margin-right: 11px;
  padding: 9px 11px 9px 12px;
}

.subscribe-form-input:hover {
  padding: 8px 10px 8px 11px;
}

.subscribe-form-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 37px;
  color: #5a5a5a;
  text-align: left;
}
.subscribe-form-button {
  align-items: flex-start;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  padding: 5px 15px 9px 15px;
  text-align: center;

  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}
.subscribe-form-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.subscribe-form-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.subscribe-container {
  display: flex;
}
.location {
  position: relative;
  width: 1200px;
  height: 429px;
  background-image: url("../img/map-bg.jpg");
  background-repeat: no-repeat;
}
.location-info {
  position: absolute;
  padding: 29px 25px;
  width: 252px;
  height: 247px;
  background-color: white;
  top: 62px;
  right: 27px;
  border-radius: 12px;
}
.location-info-text {
  width: 158px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  text-align: left;
  margin-bottom: 1px;
}
.location-info-adress {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  text-align: left;
  margin-bottom: 17px;
}
.location-info-info {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  text-align: left;
  margin-bottom: 6px;
}
.location-info-phone {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
  text-align: left;
  text-decoration: none;
  margin-bottom: 3px;
}
.location-info-hours {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  text-align: left;
  margin-bottom: 25px;
}
.location-info-link {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  text-decoration: none;
  padding: 9px 27px 11px 28px;
  display: inline-block;
  margin-top: auto;
  text-align: center;
  margin-left: auto;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}
.location-info-link:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.location-info-link:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.nav-list,
.main-footer-social {
  list-style: none;
}
.nav-item-link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

}
.nav-item-link:hover {
  color: #ffbc9e;
}
.nav-item-link:active {
  color: #ffbc9e;
}
.nav-item:first-child a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}
.nav-item:first-child a:hover {
  color: #ffbc9e;
}
.nav-item:first-child a:active {
  color: #ffbc9e;
}
.feedback-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
  margin-bottom: 19px;
}
.feedback-button {
  margin-left: auto;
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  margin-right: 0;
  padding: 10px 20px;

  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}
.feedback-form-close {
  position: absolute;
  border: none;
  background: none;
}

.feedback {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  justify-content: center;
  align-items: center;
}

.feedback-active {
  display: flex;
}
.feedback-form {
  width: 428px;
  padding: 14px 16px 27px 32px;
  border-radius: 10px;
  position: relative;
  background-color: #f8f7f4;
}
.feedback-form-close {
  position: absolute;
  border: none;
  background: none;
  right: 0;
  top: 12px;
}
.feedback-input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  width: 267px;
  margin-bottom: 20px;
  padding: 9px 13px;
}

.feedback-input:hover {
  padding: 8px 12px;
}

.feedback-input:focus {
  padding: 8px 12px;
}

.feedback-input::placeholder {
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.feedback-textarea {
  box-sizing: border-box;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 4px;
  width: 100%;
  height: 155px;
  padding: 11px 13px;
  margin-bottom: 19px;
  resize: none;
}

.feedback-textarea::placeholder {
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.feedback-textarea:hover {
  border: 2px solid #c7c6c5;
  padding: 10px 12px;
}

.feedback-textarea:focus {
  border: 2px solid #c7c6c5;
  padding: 10px 12px;
}
.user-item-find:hover .user-item-find-form {
  display: block;
}
.user-item-find-form {
  display: none;
  box-sizing: border-box;
  z-index: 1;
  position: absolute;
  padding: 19px 15px;
  width: 341px;
  top: 36px;
  right: 0px;
  border-radius: 5px;
  background-color: #f8f7f4;
}
.user-item-find-input {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  padding: 10px 11px;
  width: 100%;
}
.user-item-find-input:hover {
  border: 2px solid #c7c6c5;
  padding: 9px 10px;
}
.user-item-find-input:focus {
  border: 2px solid #8fbdec;
  padding: 9px 10px;
}
.user-item-enter:hover .user-item-enter-form{
  display: block;
}

.user-item-enter-form {
  display: none;
  z-index: 1;
  position: absolute;
  padding: 19px 18px 20px 18px;
  width: 241px;
  border-radius: 5px;
  right: -2px;
  top: 36px;
  background-color: #f8f7f4;
}
.user-item-enter-links {
  display: flex;
  align-items: flex-start;
}
.user-item-enter-input {
  margin: 0 0 20px;
  margin-right: 0;
  width: 100%;
  padding: 9px 13px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 6px;
}

.user-item-enter-input:hover {
  padding: 8px 12px;
}

.user-item-enter-input:focus {
  padding: 8px 12px;
}

.user-item-enter-input::placeholder {
  font-size: 14px;
  font-weight: 400;
}

.user-item-enter-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;

  text-decoration: none;
  padding: 11px 23px;
  margin-right: 20px;


  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 21px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;

}
.user-item-enter-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.user-item-enter-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.user-item-enter-list {
  padding: 0;
}
/* catalog.html */
.main-catalog
.user-bag {
  background-color: #f8f7f4;
}
.user-bag-cell {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}
.user-bag-price {
  color: #999999;
}
.user-bag-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
}
.user-bag-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  background-color: orange;
  text-decoration: none;
}

.breadcrumbs {
  display: flex;
  padding: 0px;
  margin: 0px;
  margin-top: 16px;
  display: flex;
  list-style: none;
}

.breadcrumbs-item {
}
.breadcrumbs-item:last-child .breadcrumbs-link {
  text-decoration: none;
}
.breadcrumbs-item:not(:last-child)::after {
  content: "»";
  color: #ffffff;
  margin-right: 6px;
  margin-left: 7px;
}
.breadcrumbs-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}
.catalog-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 26px;
  margin-top: 2px;
}
.filter-legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 16px;
  margin-bottom: 6px;
}

.filter-legend-range {
  margin-left: 15px;
}

.filter-legend-radio {
  margin-left: 14px;
}

.filter-legend-checkbox {
  margin-left: 15px;
}
.filter-label,
.filter-radio {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.catalog-nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}
.catalog-nav-item:not(:last-child) {
    margin-right: 3px;
}
.catalog-nav-item-active a {
  color: #000000;
  background-color: #ffffff;
}

.catalog-nav-link:hover {
  background-color: rgba(255,255,255, 0.2);
}
.catalog-nav-link:active {
  color: #000000;
  background: rgba(255,255,255, 1);
}
.catalog-nav-button {
  justify-content: center;
  align-items: center;
}
.catalog-nav-button-disabled path  {
  fill: rgba(255,255,255, 0.2);
}
.catalog-nav-button-left {
  margin-right: 13px;
  transform: rotate(180deg);
}
.catalog-nav-button-right {
  margin-left: 16px;
}
/* Флексбоксы */
html,
body {
  margin: 0 auto;
}
.main-header {
  padding: 0 27px;
  position: relative;
  display: flex;

}

.main-content {
  padding: 0 27px;
}

.main-header-logo {
  margin-top: 9px;
  margin-right: 10px;
}

.main-header-main-nav {

  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.main-nav-menu {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.main-nav-user {
  display: flex;
}
.main-nav-sub {
  display: none;
}
.slider-button {
  display: inline-block;
  padding: 7px 41px 10px 41px;

  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
  margin-bottom: 42px;
}
.main-nav-link-active {

  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  background-color: #d07058;
  border-radius: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 13px;
  padding-right: 13px;
  display: inline-block;
}
.slider-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label:hover {
  background-color: rgba(255,255,255, 0.4);

}
.slider-controls label:active {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls {
  position: absolute;
  bottom: 62px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.sale-wrapper {
  display: flex;
  justify-content: space-between;

}
.sale-item {
  width: 521px;
  height: 190px;
  border-radius: 14px;
  padding: 15px 21px 23px 18px;
  display: flex;
  flex-direction: column;
}
.hit {
  padding-top: 41px;
}
.hit-selling {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hit-selling-label {
  position: absolute;
  background-image: url("../img/hit.svg");
  width: 61px;
  height: 61px;
  left: 0;
  top: 0;
}
.hit-selling-item {
  text-align: center;
  position: relative;
  max-width: 267px;
  margin-bottom: 38px;
}
.hit-selling-item:hover::before {
  display: block;
  content: '';
  width: 293px;
  margin-top: -6px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  height: 400px;
  position: absolute;
  top: 0;
  left: -13px;
  border-radius: 4px;
  z-index: 1;
}
.hit-selling-item:hover .hit-selling-image,
.hit-selling-item:hover .hit-selling-link {
  position: relative;
  z-index: 1;
}
.hit-selling-item:hover .hit-selling-label,
.hit-selling-item:hover .hit-selling-price {
  z-index: 2;
}
.hit-selling-item:hover .hit-selling-price {
  text-shadow: 0px 3px 1px rgba(49, 50, 53, 0.5);
}
.hit-selling-item:hover .hit-selling-button {
  display: block;
}

.hit-selling-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.hit-selling-button {
  display: none;
  position: absolute;
  bottom: -58px;
  left: 26px;
  font-size: 18px;
  z-index: 3;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 22px;
  margin-top: auto;
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  text-decoration: none;

  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}
.hit-selling-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.features-wrapper {
  display: flex;

  flex-wrap: wrap;
}
.features {
  margin: 0 0 40px;
  padding-top: 24px;
  padding-left: 19px;
  padding-bottom: 16px;
  padding-right: 19px;
  background-color: rgba(255,105,180, 0.2);
  background-color: #e9deca;
  background-image: url(../img/waffle_bg.jpg);
  border-radius: 12px;
}
.features-title {
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  text-align: left;
}
.features-text {
  margin: 0px;
  margin-bottom: 10px;
  padding-left: 56px;
  padding-top: 13px;
  max-width: 476px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  text-align: left;

}
.features-text:nth-child(odd) {
  margin-right: 35px;
}
.features-icon-ice {
  background-image: url("../img/features-ice.svg");
  background-repeat: no-repeat;
}
.features-icon-list {
  background-image: url("../img/features-list.svg");
  background-repeat: no-repeat;
}
.features-icon-cow {
  background-image: url("../img/features-cow.svg");
  background-repeat: no-repeat;
}
.features-icon-term {
  background-image: url("../img/features-term.svg");
  background-repeat: no-repeat;
}
.info {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.main-footer {
  display: flex;
  justify-content: flex-start;
  margin: 0 27px;
}

.main-footer-border {
  border-top: 1px solid #a9bbb1;
}
.main-footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 38px;
  padding-left: 1px;
  margin-right: 203px;
}

.social-item {
  margin-right: 13px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255,255,255, 0.5);
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.social-link:hover {
  border: 2px solid rgba(255,255,255, 0.7);
}
.social-link:active {
  border: 2px solid rgba(255,255,255, 0.3);
}
.social-svg path {
  fill: rgba(255, 255, 255, 0.8);
}
.social-svg:hover path {
  fill: rgba(255, 255, 255, 1);
}
.social-svg:active path {
  fill: rgba(255, 255, 255, 0.3);
}
.main-footer-nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 340px;
  margin-top: 14px;
}
.nav-item {
  width: 162px;
}
.nav-item:nth-child(odd) {
  padding-left: 22px;
  width: 142px;
}
.nav-item-heart {
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position-y: 7px;
}
.nav-list {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
.main-footer-copyright {
  margin-left: auto;
  margin-top: 19px;
}

.copyright-image {
  width: 114px;
  height: auto;
}

.copyright-text {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}
.copyright-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}
.copyright-link:hover {
  color: #ffbc9e;
}
.copyright-link:active {
  color: #ffbc9e;
}
/* флексбоксы для catalog.html */
.user-bag {
  display: none;
}

.filter {
  align-items: flex-end;
  max-width: 892px;
  display: flex;
  flex-wrap: wrap;
}
.filter-radio-svg {
  width: 22px;
  height: 22px;
}
.main-catalog {
  padding-top: 26px;
}
.main-catalog-list {
  display: flex;
  flex-wrap: wrap;
}
.main-catalog-item {
  max-width: 267px;
}
.button-hidden {
  display: none;
}
.main-catalog-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 26px;
  margin-bottom: 14px;
}
.button-left {
  width: 8px;
  height: 13px;
  background-image: url("..img/icon-right-small-left.svg");
  background-repeat: no-repeat;
}
.catalog-nav-list {
  display: flex;
}
